.friend {
  flex: 0 0 33%;
}
.friend .name {
  font-size: 12px;
  margin: 0;
}
.friend .foto {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 5px;
  margin: 5px auto;
}
.friend .foto img {
  max-width: 100%;
}
